$color-titulo: #FFF;
$font: 'Raleway', sans-serif;
$color-rosado: #ED9A9D;
$color-beige: #F0E7AE;
$color_verde: #8EC641;
$height_regular: 90vh;
$height_big: 100vh;
$height_small: 45vh;
$height_xsmall:10vh;
